.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none; /* Prevents interaction with the logo */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* Spin animation for logo */
  }
}

.App-header {
  background-color: #282c34; /* Dark background for header */
  min-height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  font-size: calc(10px + 2vmin); /* Responsive font size */
  color: white; /* Text color */
}

.App-link {
  color: #61dafb; /* Link color */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* Start rotation */
  }
  to {
    transform: rotate(360deg); /* End rotation */
  }
}
